<p>Lista de Parqueaderos</p>
<button class="btn btn-primary" (click)="openCreateModal()">Crear Parqueadero</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Longitud</th>
      <th>Latitud</th>
      <th>Capacidad Máxima</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parking of parkings">
      <td>{{ parking.id }}</td>
      <td>{{ parking.name }}</td>
      <td>{{ parking.longitud }}</td>
      <td>{{ parking.latitud }}</td>
      <td>{{ parking.maxSpace }}</td>
    </tr>
  </tbody>
</table>
<!-- Modal para crear un nuevo parqueadero -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isCreateModalOpen}" [style.display]="isCreateModalOpen ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Crear Parqueadero</h5>
              <button type="button" class="close" (click)="closeCreateModal()">&times;</button>
          </div>
          <div class="modal-body">
              <form (ngSubmit)="createParking()">
                  <div class="mb-3">
                      <label for="name" class="form-label">Nombre</label>
                      <input type="text" id="name" class="form-control" [(ngModel)]="newParking.name" name="name" required>
                  </div>
                  <div class="mb-3">
                      <label for="maxSpace" class="form-label">Capacidad Máxima</label>
                      <input type="number" id="maxSpace" class="form-control" [(ngModel)]="newParking.maxSpace" name="maxSpace" required>
                  </div>
                  <div class="mb-3">
                      <label for="latitud" class="form-label">Latitud</label>
                      <input type="text" id="latitud" class="form-control" [(ngModel)]="newParking.latitud" name="latitud" required>
                  </div>
                  <div class="mb-3">
                      <label for="longitud" class="form-label">Longitud</label>
                      <input type="text" id="longitud" class="form-control" [(ngModel)]="newParking.longitud" name="longitud" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Crear Parqueadero</button>
              </form>
          </div>
      </div>
  </div>
</div>
